html {
	height: 100%;
	width: 100%;
}

body {
	background: none;
}

.hcenter {
	text-align: center;
    justify-content: center;
}

.square {
	display: inline-block;
	clear: right;
	width: 3rem;
	height: 3rem;
	background-color: rgba(0,0,0,.75);
	border-radius: 5px;
}

.square.small {
	width: 2rem;
	height: 2rem;
}

.square.half, ul.square-ul.half .square {
	width: 3rem;
	height: 1.5rem;
}

img.half {
	object-fit: cover;	
}

ul.square-ul {
	line-height: 3.5rem;
}

ul.square-ul.small {
	line-height: 2.5rem;
}

ul.square-ul.half {
	line-height: 1.5rem;
}

.square > .square.half {
	margin-top: -32px;
}

.square > .square, #inventory .square > .square.half {
	margin-top: -8px;
}

.transparent {
	background-color: transparent;
}

ul.square-ul li:last-child {
	margin-right: .5rem;
}

.circle {
	display: inline-block;
	clear: right;
	padding: 1px;
	width: 5rem;
	height: 5rem;
	background-color: rgba(0,0,0,.75);
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,.8);
}

.circle img {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.header-console {
	font-family: Consolas,monaco,monospace; 
}

.header-console h1 {
	display: inline-block;
	cursor: text;
	text-shadow: 1px 1px 1px #666;
}

.header-console-cursor {
	font-size: 2em;
}

h1 {
	font-size: 2em;
}

#origin .character-image {
	display: block;
	width: 100%;
	height: 100%;
}

#origin .character-image img {
	height: 75%;
	width: auto;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#origin-city::before {
	cursor: default;
	color: #bbb;
}

.card-header {
	text-transform: uppercase;
}

p {
  	font-family: "Times New Roman", Times, serif;
  	font-style: italic;
  	margin-top: 1.5rem;
}

.card-body h5, .card-body h6 {
	margin-top: 1rem;
	text-transform: uppercase;
	border-bottom: 1px solid #666;
}

.card-body h5 {
	padding-top: .2rem;
	border-top: 1px solid #666;
}

.card-body h6 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

ul#origin-talents {
	width: 75%;
	margin: auto;
	padding: 0;
}

.greyed {
	opacity: .5;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.background::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.background-greyed::before {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.background.lille::before {
	background-image: url("../img/backgrounds/lille.jpg")
}

.background.chicoutimi::before {
	background-image: url("../img/backgrounds/chicoutimi.jpg")
}

.background.rennes::before {
	background-image: url("../img/backgrounds/rennes.jpg")
}

.background.boisblancs::before {
	background-image: url("../img/backgrounds/boisblancs.jpg")
}

.background.sherbrooke {
	background-image: url("../img/backgrounds/sherbrooke.jpg")
}

#face.float-left {
	margin-top: -5rem;
}

@media (max-width: 992px) {
  #origin-col {
    min-height: auto !important;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 575.98px) {
	#inventory > .card {
		margin-top: -1.5rem !important;
	}

	#inventory .card {
		border-top: 0;
	}
}

#class-switcher-name {
	line-height: 2.5;
}

#origin-col {
	min-height: 700px;
}

#language {
	right: 0;
	left: auto;
}

#socials {
	left: 0;
	right: auto;
}

#language > button::after, #socials > button::after {
	display: none;
}

#language > button, #socials > button {
	padding: 0;
	overflow: hidden;
}

#language > button {
  border-radius: 0px 0px 0px .25rem;
  border-top-width: 0;
  border-right-width: 0;
}

#socials > button {
  border-radius: 0px 0px .25rem 0px;
  border-top-width: 0;
  border-left-width: 0;
}

#language .dropdown-menu, #socials .dropdown-menu {
	min-width: 0;
	transform: translate3d(0, 34px, 0) !important;
	padding: 0;
  overflow: hidden;
}

#language .dropdown-menu {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#socials .dropdown-menu {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#language .dropdown-menu .dropdown-item, #socials .dropdown-menu .dropdown-item {
	padding: 0;
  cursor: pointer;
}

#language img, #socials img {
	border-radius: 0;
}

header .list-group-item.disabled {
	pointer-events: inherit !important;
}

#achievements {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../img/backgrounds/work.png');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	padding-top: 234px;
}

#achievements > div {
	max-width: 630px;
	transform: rotateX(-11deg) rotateY(5deg);
	margin: auto;
}

#achievements video {
	width: 100%;
	border: 5px solid black;
}

#achievements h3 {
	color: white;
	text-shadow: 0px 0px 5px #666;
}