<div id="socials" class="fixed-top">
	<button class="btn btn-primary" type="button">
		<a href="https://www.linkedin.com/in/corentinhaidon" target="_blank">
			<img class="square small transparent" src="img/in.png"/>
		</a>
	</button>
</div>

<!-- <div id="socials" class="dropdown float-left">
	<button class="btn btn-primary dropdown-toggle" type="button" id="socialDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<img class="square small transparent" ng-src="img/id2.png"/>
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<span class="dropdown-item">
			<a href="https://www.linkedin.com/in/corentinhaidon" target="_blank">
				<img class="square small transparent" ng-src="img/in.png"/>
			</a>
		</span>
		<span class="dropdown-item">
			<a href="https://twitter.com/corentinhaidon" target="_blank">
				<img class="square small transparent" ng-src="img/tw.png"/>
			</a>
		</span>
	</div>
</div>-->