<!DOCTYPE html>
<html class="vfill" data-ng-app="App">
<head>
	<title>Corentin Haidon</title>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body class="vfill" data-ng-controller="Controller">
	<div class="vfill">
		<header class="top">
			<div class="container">
				<div class="header-console disable-select">
					<h1>Corentin Haidon</h1>
					<span class="header-console-cursor">|</span>
				</div>
				<div class="pull-right"></div>
			</div>
		</header>
		<div class="middle">
			<div class="container vfill hcenter vcenter">
				<ul class="itemlist">
					<li data-ng-repeat="spell in currentClass.spells">
						<div class="square">
							<img data-ng-src="img/spells/{{currentClass.shortName}}/{{spell.shortName}}.png" alt=""/>
						</div>
						<br/>
						<span>
							<a data-ng-if="spell.url" data-ng-bind="spell.name"></a>
						</span>
						<span data-ng-if="!spell.url" data-ng-bind="spell.name"></span>
					</li>
				</ul>
				<div class="disable-select hcenter">
					<div class="class-image">
						<img class="shadowed " data-ng-src="img/{{currentClass.shortName}}.png" alt=""/>
					</div>
				</div>
				<ul class="itemlist">
					<li data-ng-repeat="item in currentClass.items">
						<div class="square">
							<img data-ng-src="img/items/{{currentClass.shortName}}/{{item.shortName}}.png" alt=""/>
						</div>
						<br/>
						<span>
							<a data-ng-if="item.url" data-ng-href="{{item.url}}" data-ng-bind="item.name"></a>
						</span>
						<span data-ng-if="!item.url" data-ng-bind="item.name"></span>
					</li>
				</ul>
			</div>
		</div>
		<footer class="bottom">
			<div class="container">
				<div class="input-group pull-left">
					<span class="input-group-addon">Class</span>
					<select class="form-control" data-ng-model="currentClass" data-ng-options="class.name for class in classes">
					</select>
					<span class="input-group-btn">
						<button class="btn btn-primary">Spells</button>
						<button class="btn btn-info">Craft</button>
					</span>
				</div>
			</div>
		</footer>
	</div>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- console -->
	<script src="js/console.js"></script>
</body>
</html>