
<!-- 
	<div class="vfill">
		<header class="top">
			<div class="container">
				<div class="header-console disable-select">
					<h1>Corentin Haidon</h1>
					<span class="header-console-cursor">|</span>
				</div>
				<div class="pull-right"></div>
			</div>
		</header>
		<div class="middle">
			<div class="container vfill hcenter vcenter">
				<ul class="itemlist">
					<li data-ng-repeat="spell in currentClass.spells">
						<div class="square">
							<img data-ng-src="img/spells/{{currentClass.shortName}}/{{spell.shortName}}.png" alt=""/>
						</div>
						<br/>
						<span>
							<a data-ng-if="spell.url" data-ng-href="{{spell.url}}" data-ng-bind="spell.name" target="_blank"></a>
						</span>
						<span data-ng-if="!spell.url" data-ng-bind="spell.name"></span>
					</li>
				</ul>
				<div class="disable-select hcenter">
					<div class="class-image-container"><a>
						<img class="class-image-icon shadowed" data-ng-src="img/{{currentClass.shortName}}-icon.png" alt=""/>
						</a>
						<img class="class-image shadowed" data-ng-src="img/{{currentClass.shortName}}.png" alt=""/>

					</div>
				</div>
				<ul class="itemlist">
					<li data-ng-repeat="item in currentClass.items">
						<div class="square">
							<img data-ng-src="img/items/{{currentClass.shortName}}/{{item.shortName}}.png" alt=""/>
						</div>
						<br/>
						<span>
							<a data-ng-if="item.url" data-ng-href="{{item.url}}" data-ng-bind="item.name" target="_blank"></a>
						</span>
						<span data-ng-if="!item.url" data-ng-bind="item.name"></span>
					</li>
				</ul>
			</div>
		</div>
		<footer class="bottom">
			<div class="container">
				<div class="input-group-preprend"

				<div class="btn-group pull-left" role="group" aria-label="Class">
					<span id="classSpan" class="btn btn-info">Class</span>
					<div class="dropdown-menu" aria-labelledby="classSpan">
						<a data-ng-repeat="class in classes" class="dropdown-item" href="#">
							{{class.name}}
						</a>
					</div>
					</select>
				</div>
			</div>
		</footer>
	</div> -->