<div id="achievements" class="text-center">
	<div>
		<video class="mb-4" controls>
		  <source src="../img/projects/llama.mp4" type="video/mp4">
		  Your browser does not support the video tag.
		</video>
		<div class="clearfix"></div>
		<span class="d-inline-block float-left">
			<button type="button" class="btn btn-secondary" ng-click="achievementsService.previousAchievement()">
				<span class="fas fa-angle-left"></span>
			</button>
		</span>
		<span class="d-inline-block float-right">
			<button type="button" class="btn btn-secondary" ng-click="achievementsService.nextAchievement()">
				<span class="fas fa-angle-right"></span>
			</button>
		</span>
		<h3>Multi-threaded destructible terrain generator</h3>
	</div>
</div>