<div class="row justify-content-center mt-3">
	<div id="equipment" class="col-12 col-sm-6 col-xl-3 mt-3 mt-auto hcenter order-2 order-xl-1">
		<div class="card">
			<div class="card-header d-none d-xl-block">{{'equipment' | translate}}</div>
			<div class="card-body">
				<ul class="list-inline square-ul mb-0">
					<li id="head" class="slot square align-middle" type="eqpt-head"></li>
				</ul>
				<ul class="list-inline square-ul mb-0 half">
					<li id="left-shoulder" class="list-inline-item slot square align-middle" type="eqpt-shoulder"></li>
					<li id="neck" class="list-inline-item slot square align-middle" type="eqpt-neck"></li>
					<li id="right-shoulder" class="list-inline-item slot square align-middle" type="eqpt-shoulder"></li>
				</ul>
				<ul class="list-inline square-ul mb-0">
					<li id="left-arm" class="list-inline-item slot square align-middle" type="eqpt-arm"></li>
					<li id="armor" class="list-inline-item slot square align-middle" type="eqpt-armor"></li>
					<li id="right-arm" class="list-inline-item slot square align-middle" type="eqpt-arm"></li>
				</ul>
				<ul class="list-inline square-ul mb-0">
					<li id="left-hand" class="list-inline-item slot square align-middle" type="eqpt-hand"></li>
					<li id="belt" class="list-inline-item slot square align-middle half" type="eqpt-belt"></li>
					<li id="right-hand" class="list-inline-item slot square align-middle" type="eqpt-hand"></li>
				</ul>
				<ul class="list-inline square-ul mb-0">
					<li id="left-leg" class="list-inline-item slot square align-middle" type="eqpt-legs"></li>
					<li id="right-leg" class="list-inline-item slot square align-middle" type="eqpt-legs"></li>				
				</ul>
				<ul class="list-inline square-ul mb-0">
					<li id="left-foot" class="list-inline-item slot square align-middle" type="eqpt-feet"></li>
					<li id="right-foot" class="list-inline-item slot square align-middle" type="eqpt-feet"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-4 hcenter order-1 order-xl-2 mb-3">
		<avatar></avatar>
	</div>
	<div id="inventory" class="col-12 col-sm-6 col-xl-3 mt-auto hcenter order-3 order-xl-3">
		<div class="card mb-sm-3 mt-3 mt-xl-0">
			<div class="card-header d-none d-xl-block">{{'class' | translate}}</div>
			<class-switcher class="card-body"></class-switcher>
		</div>
		<div class="card">
			<div class="card-header d-none d-xl-block">{{'inventory' | translate}}</div>
			<div class="card-body">
				<ul class="list-inline square-ul mb-0">
					<li class="list-inline-item square slot align-middle" ng-repeat="item in itemsService.items">
						<img
							ng-attr-id="{{item.name}}"
							ng-class="['square', {grayed:!isEquippable(item)}]"
							ng-attr-type="{{item.type}}"
							ng-attr-classes="{{item.classes.join(' ')}}"
							ng-src="img/items/{{item.name}}.png"
							data-toggle="tooltip" data-html="true" data-placement="top"
							title="{{itemsService.tooltip(item)}}"
						/>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center mt-3 mb-3">
	<div id="stats" class="col-12 col-xl-10 hcenter order-4">
		<div class="card">
			<div class="card-header d-none d-xl-block">{{'stat' | translate}}</div>
			<div class="card-body pt-0">
				<div class="row">
					<div class="col-4 col-sm-3 col-xl-2" ng-repeat="stat in statsService.stats">
						<h6 data-toggle="tooltip" data-html="true" data-placement="top" title="{{statsService.tooltip(stat)}}">
							<img class="square transparent small align-baseline" ng-src="img/stats/{{stat}}.png"/>
							<span class="d-sm-block">{{equippedTotal[stat]}}/{{statTotal(stat)}}</span>
						</h6>
						<ul class="list-inline square-ul">
							<li class="list-inline-item" ng-repeat="item in statItems(stat)">
								<img class="square" ng-class="item.equipped ? '' : 'grayed'" ng-src="img/items/{{item.name}}.png" data-toggle="tooltip" data-html="true" data-placement="top" title="{{itemsService.tooltip(item)}}" />
							</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>